{% extends 'core/base.html' %}

{% block content %}
<div class="w-auto bg-secondary-subtle my-4 mx-4 px-5 py-5 rounded-3">
    {% if items %}
    <h2 class="fs-4 text-center mb-4">My Items</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        {% for item in items %}
        <div class="col ">
            <div class="card h-auto" style="width: 18rem;">
                <a href="{% url 'item:detail' item.id %}" class='text-decoration-none'>
                    <img src="{{ item.image.url }}" class="card-img-top w-100%" >
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <h5 class="card-title text-secondary">${{ item.price }}</h5>
                    </div> 
                </a>      
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="text-center text-info-emphasis">
        <i class="fa-regular fa-face-surprise mb-4" style="font-size:6rem"></i>
        <h3>Wow So Empty!</h3>
    </div>
    {% endif %}
</div>
{% endblock %}